<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
  /*包含以下四种的链接*/
  a {
    text-decoration: none;
    color: #000000;
  }

  /*正常的未被访问过的链接*/
  a:link {
    text-decoration: none;
  }

  /*已经访问过的链接*/
  a:visited {
    text-decoration: none;
  }

  /*鼠标划过(停留)的链接*/
  a:hover {
    text-decoration: none;
    background: none;
  }

  /* 正在点击的链接*/
  a:active {
    text-decoration: none;
  }
</style>

<div style="width: 60%;margin: 10px auto">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin-bottom: -1px">
    <!-- Brand/logo -->
    <div style="margin-right: 30px;text-align: center"><%= image_tag "icon.png", :width => 50 %></div>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item" style="margin-right: 30px">
        <a class="nav-link" href="/admin/show" style="font-size: 14px;text-align: center"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;用户管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="font-size: 14px;color: #FFFFFF"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;活动管理</a>
      </li>
    </ul>
  </nav>
  <table class="table table-hover" style="margin-top: 0px">
    <tr style="font-weight: bold">
      <td>活动标题</td>
      <td>活动时间</td>
      <td>活动地点</td>
      <td>活动分类</td>
      <td>活动人数</td>
      <td>当前状态</td>
      <td>操作</td>
    </tr>
    <% @activitys.each do |activity| %>
      <tr>
        <td><%= activity.AcTitle %></td>
        <td><%= activity.AcStartTime.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= activity.AcSitu %></td>
        <td><%= activity.AcClass %></td>
        <td><%= activity.AcCount %></td>
        <% if activity.AcStatus == '0' %>
          <td style="color: yellow;font-weight: bold">待审核</td>
        <% elsif activity.AcStatus == '1' %>
          <td style="color: green;font-weight: bold">审核通过</td>
        <% elsif activity.AcStatus == '2' %>
          <td style="color: red;font-weight: bold">审核失败</td>
        <% else %>
          <td style="color: black;font-weight: bold">已完成</td>
        <% end %>
        <td>
          <div style="text-align: center">
            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<%= link_to '审核', :action => "update", data: {activity: activity.AcId} %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
