<script type="text/javascript">

function selectType(checkValue, isPra, pass) {
    var select = document.getElementById("ac_class");
    // console.log(select.value);
    console.log(checkValue);
    // 设置类别值
    for (var i = 0; i < select.options.length; i++){  
        if (select.options[i].value == checkValue){  
            select.options[i].selected = true;  
            break;  
        }  
    } 
    // 设置是否私密单选框
    console.log(isPra);
    if(isPra == 1) {
      var ac_is_pra = document.getElementById("ac_is_pra");  
      ac_is_pra.checked = true;
      console.log(ac_is_pra.checked);
      console.log(ac_is_pra);
    } else if(isPra == 0) {
      var ac_is_not_pra = document.getElementById("ac_is_not_pra"); 
      ac_is_not_pra.checked = true;
      console.log(ac_is_not_pra.checked);
    }
    // 根据是否私密单选框，设置密码段是否可见
    var ac_pass_field = document.getElementById("ac_pass");
    //由下面可知
    console.log("onload() ac_pass.required: " + ac_pass_field.required);
    if(isPra == 1) {
      console.log(ac_pass_field.value);
      ac_pass_field.disabled = false;
      ac_pass_field.required = true;
      console.log("加载后设置ac_pass.required: " + ac_pass_field.required);
      ac_pass_field.value = pass;
    } else if(isPra == 0) {
      ac_pass_field.disabled = true;
      ac_pass_field.required = false;
      console.log("加载后设置ac_pass.required: " + ac_pass_field.required);
      ac_pass_field.value = "";
    }
}

function load(x) {
// var input = document.getElementsByName("activity[AcIsPra]");  
  // console.log(x.value);
  var ac_pass_field = document.getElementById("ac_pass");
  if(x.value == 1) {
    ac_pass_field.value = "";
    ac_pass_field.disabled = false;
    ac_pass_field.required = true;
  } else if(x.value == 0) {
    ac_pass_field.value = "";
    ac_pass_field.disabled = true;
    ac_pass_field.required = false;
  }
}


</script>





<%= csrf_meta_tags %>
<body onload="selectType('<%=@activity.AcClass%>', <%=@activity.AcIsPra%>, <%=@activity.AcPass%>)">

<% provide(:title, "修改活动")%>
<%= render '/layouts/activities/header'%>

<br>

<div class="container">
<div class="row">
<div class="col-md-8">

<a href="#" onClick="javascript :history.go(-1);" class="btn btn-secondary btn-lg active btn-sm" role="button" aria-pressed="true">返回</a>

<br>
<br>

<%# 当提出patch请求并且路径时 /activities/id 就会跳转到update动作 %>
<%# 这里发出post请求，没有使用patch请求 %>
<form action="/update_activity/<%= @activity.id %>" method="post" enctype="multipart/form-data">
<%# <input name="_method" type="hidden" value="patch" /> %>

  <div class="form-group">
      <label for="ac_title">活动标题（不超过50个字符）</label>
      <input value="<%=@activity.AcTitle %>" name="activity[AcTitle]" id="ac_title" class="form-control" maxlength="50" required/>
  </div>

  <div class="form-group">
      <label for="ac_situ">活动地点</label>
      <input value="<%= @activity.AcSitu%>" name="activity[AcSitu]" id="ac_situ" class="form-control" required/>
  </div>


  <div class="form-group">
    <label for="ac_class">活动类别</label>
    <select id="ac_class" name="activity[AcClass]" class="form-control" required>
      <option value="旅游">旅游</option>
      <option value="运动">运动</option>
      <option value="聚餐">聚餐</option>
      <option value="桌游">桌游</option>
      <option value="讨论">讨论</option>
      <option value="讲座">讲座</option>
      <option value="娱乐">娱乐</option>
    </select>
  </div>


    <div class="form-group">
      <label for="ac_start_time">开始时间</label>
      <input value="<%=@start_time %>" name="activity[AcStartTime]" id="ac_start_time" class="form-control" type="datetime-local" required/>
  </div>

  <div class="form-group">
    <label for="ac_dura">活动时长</label>
    <input value="<%= @activity.AcDura%>" id="ac_dura" class="form-control" type="number" name="activity[AcDura]" min="0.1" max="1024" step="0.1" placeholder="单位：小时" required/> 
  </div>


  <div class="form-group">
    <label for="ac_count">活动人数（不超过100人）</label>
    <input value="<%= @activity.AcCount%>" id="ac_count" class="form-control" type="number" name="activity[AcCount]" min="1" max="100" step="1" placeholder="单位：人" required/> 
  </div>

  <div class="form-group">
      <label>是否设为私密</label><br>
      <input class="form-radio" name="activity[AcIsPra]" type="radio" id="ac_is_pra" value="1" onclick="load(this)"/>
      <label for="ac_is_pra"><font color="#b06ab3">是</font></label>
      <input class="form-radio" name="activity[AcIsPra]" type="radio" id="ac_is_not_pra" value="0" onclick="load(this)"/>
      <label for="ac_is_not_pra"><font color="#b06ab3">否</font></label>
  </div>

  <div class="form-group">
    <label for="ac_pass">私密活动口令（活动口令只能由4位数字组成）</label>
    <input name="activity[AcPass]" id="ac_pass" class="form-control" type="password"/>
  </div>



  <div class="form-group">
  <label for="ac_intro">活动简介</label>
  <textarea id="ac_intro" class="form-control" aria-label="With textarea" name="activity[AcIntro]" rows="10" maxlength="1000" required><%= @activity.AcIntro%></textarea>
  </div>

  <br>
  <div class="form-group">
      <label for="ac_end_time">报名截止时间</label>
      <input value="<%=@end_time %>" name="activity[AcEndTime]" id="ac_end_time" class="form-control" type="datetime-local" required/>
  </div>

  <br/>
  <div class="custom-file">
    <input type="file" name="activity[picture]" class="custom-file-input" id="ac_picture" accept="image/png, image/jpeg, image/gif, image/jpg">
    <label class="custom-file-label" for="ac_picture" id="label_ac_picture">
    <% if @activity.picture.blank? %>
    上传图片
    <% else%>
        <%= @activity.show_picture_name %>
    <% end%>
    </label>
  </div>
  <br/>
  <br/>

  <div class="actions">
    <p style="text-align:center">
    <input class="btn-activity-hover color-7" type="submit" name="commit" value="提交修改">
    </p>
  </div>


</div>
</div>
</div>

</form>
<%# <%= link_to 'Show', @activity %> 
<%# <%= link_to 'Back', activities_path %>

<%= render '/layouts/activities/footer'%>
</body>


<script type="text/javascript"> 
// 在客户端的对图片检查的另一个措施
// 检查图片的尺寸，图片太大就会跳出一个提示框
$('#ac_picture').bind('change',function(){
  console.log("我在执行检查图片大小的函数");
  var size_in_megabytes = this.files[0].size/1024/1024;
  console.log(size_in_megabytes + "MB");
  if(size_in_megabytes > 5){
    alert('只能上传5MB以下大小的图片，请重新选择!');
  }
  var picture_name = this.files[0].name;
  if (!picture_name.match(/.jpg|.gif|.png|.jpeg/i)){
      return alert("您上传的图片格式不正确，请重新选择！");
  }
  console.log(picture_name);
  $("#label_ac_picture").html(picture_name);
});
</script>

